In [1]:
import pandas as pd

df_2023_clean = pd.read_csv("environmental_data_2023_clean.csv")
df_2024_clean = pd.read_csv("environmental_data_2024_clean.csv")
df_2025_clean = pd.read_csv("cleaned_data_2025_environment.csv")

In [2]:
df_2023_clean.columns.equals(df_2024_clean.columns), df_2024_clean.columns.equals(df_2025_clean.columns)

(True, True)

In [3]:
df_env_all = pd.concat([df_2023_clean, df_2024_clean, df_2025_clean], ignore_index=True)

In [4]:
df_env_all.duplicated(["Site", "Year", "Month"]).sum()

np.int64(0)

In [5]:
df_env_all.loc[~df_env_all["Month"].between(1, 12), ["Site", "Year", "Month"]].head()

Empty DataFrame
Columns: [Site, Year, Month]
Index: []

In [6]:
df_env_all["Year"].value_counts().sort_index()

Year
2023    37
2024    35
2025    41
Name: count, dtype: int64

In [7]:
df_env_all.groupby(["Year", "Site"]).size()

Year  Site
2023  A        5
      B        7
      C        7
      D       10
      E        8
2024  A        8
      B        6
      C        6
      D        9
      E        6
2025  A        7
      B        9
      C        8
      D       10
      E        7
dtype: int64

In [8]:
df_env_all = df_env_all.sort_values(["Year", "Month", "Site"]).reset_index(drop=True)

In [9]:
df_env_all[["Year", "Month", "Site"]].head(15)

    Year  Month Site
0   2023      1    A
1   2023      1    C
2   2023      1    D
3   2023      1    E
4   2023      2    B
5   2023      2    C
6   2023      2    E
7   2023      3    B
8   2023      3    C
9   2023      3    D
10  2023      4    D
11  2023      4    E
12  2023      5    A
13  2023      5    B
14  2023      5    D

In [10]:
df_env_all.insert(0, "env_id", range(1, len(df_env_all) + 1))

In [11]:
df_env_all["env_id"].is_unique

True

In [19]:
df_env_all_final = df_env_all.copy()

df_env_all_final.to_pickle(
    "right_environmental_data_2023_2025_final.pkl"
)

In [20]:
df_env_all_final.to_csv(
    "right_environmental_data_2023_2025_final.csv",
    index=False
)

In [17]:
df_env_all_final

,env_id,Site,Year,Month,Energy_kWh,Water_m3,Waste_tonnes,CO2_tonnes,Environmental_incidents,Recycled_percent,Compliance_score,Energy_kWh_recorded,Water_m3_recorded,Waste_tonnes_recorded,Recycled_percent_recorded,CO2_tonnes_recorded,Compliance_score_recorded,Environmental_incidents_recorded
0,1,A,2023,1,804.8,306.7,32.900000,56.200000,0,0.000000,0.000000,True,True,True,False,True,False,True
1,2,C,2023,1,1871.3,864.2,73.600000,159.600000,2,0.000000,0.000000,True,True,True,False,True,False,True
2,3,D,2023,1,916.5,307.1,40.700000,194.800000,2,0.000000,0.000000,True,True,True,False,True,False,True
3,4,E,2023,1,772.1,378.3,39.900000,70.800000,2,0.000000,0.000000,True,True,True,False,True,False,True
4,5,B,2023,2,1348.9,372.3,27.900000,88.400000,0,0.000000,0.000000,True,True,True,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,109,D,2025,11,12307.0,2493.3,73.345230,20.318238,6,61.658099,82.870477,True,True,True,True,True,True,True
109,110,A,2025,12,4045.0,795.0,21.248477,16.467574,0,73.020707,87.348093,True,True,True,True,True,True,True
110,111,B,2025,12,6071.0,985.0,25.224821,1.456382,0,47.523901,79.263903,True,True,True,True,True,True,True
111,112,C,2025,12,8187.0,0.0,31.444984,12.817132,2,44.077311,87.252117,True,False,True,True,True,True,True
112,113,E,2025,12,12633.0,1972.0,48.609301,32.720641,2,59.868719,74.207906,True,True,True,True,True,True,True

In [18]:
df_env_all_final[df_env_all_final['Year'] == 2025]

,env_id,Site,Year,Month,Energy_kWh,Water_m3,Waste_tonnes,CO2_tonnes,Environmental_incidents,Recycled_percent,Compliance_score,Energy_kWh_recorded,Water_m3_recorded,Waste_tonnes_recorded,Recycled_percent_recorded,CO2_tonnes_recorded,Compliance_score_recorded,Environmental_incidents_recorded
72,73,A,2025,1,6117.0,0.0,6.964345,7.377936,2,57.247506,101.059072,True,False,True,True,True,True,True
73,74,B,2025,1,7153.0,1187.0,41.838790,14.531410,2,79.831924,76.967625,True,True,True,True,True,True,True
74,75,C,2025,1,3111.0,1232.0,34.316874,19.481696,1,35.381286,105.419752,True,True,True,True,True,True,True
75,76,D,2025,1,3346.0,779.0,23.299349,10.702418,0,53.331940,85.331733,True,True,True,True,True,True,True
76,77,E,2025,1,5316.0,0.0,50.000000,13.924871,2,27.971680,84.334658,True,False,True,True,True,True,True
77,78,B,2025,2,6970.0,550.0,21.481351,13.868229,1,62.015756,90.026523,True,True,True,True,True,True,True
78,79,C,2025,2,5813.0,589.0,23.574579,18.280442,1,57.113611,84.276023,True,True,True,True,True,True,True
79,80,D,2025,2,5697.0,816.0,33.174194,2.983365,0,48.056119,92.453128,True,True,True,True,True,True,True
80,81,E,2025,2,10342.0,1655.0,53.431123,32.850504,1,26.952483,75.201215,True,True,True,True,True,True,True
81,82,A,2025,3,2547.0,757.0,29.908452,9.539019,0,42.136767,98.117928,True,True,True,True,True,True,True
82,83,C,2025,3,4446.0,717.0,74.939697,32.248326,2,47.597621,23.609154,True,True,True,True,True,True,True
83,84,D,2025,3,10910.0,1906.0,46.603686,18.721697,1,44.013489,81.091055,True,True,True,True,True,True,True
84,85,B,2025,4,11491.0,2322.0,91.086355,44.446440,1,31.465131,24.623482,True,True,True,True,True,True,True
85,86,D,2025,4,3766.0,972.0,28.054924,11.693872,0,46.106759,81.232361,True,True,True,True,True,True,True
86,87,E,2025,4,5000.0,520.0,33.170992,12.336654,2,30.674581,79.317369,True,True,True,True,True,True,True
87,88,D,2025,5,12862.0,3296.0,125.155717,42.916473,1,60.005229,90.818104,True,True,True,True,True,True,True
88,89,E,2025,5,4788.0,731.0,24.995070,15.890531,3,37.784200,76.820877,True,True,True,True,True,True,True
89,90,A,2025,6,5941.0,676.0,36.977295,5.890189,0,44.838765,72.878717,True,True,True,True,True,True,True
90,91,B,2025,6,6441.0,950.0,25.820308,999.000000,2,75.844042,90.928254,True,True,True,True,True,True,True
91,92,D,2025,6,5289.0,869.0,21.100021,5.134302,2,47.335833,87.861056,True,True,True,True,True,True,True
92,93,E,2025,6,11094.0,610.0,62.238823,25.172060,4,54.489555,104.170448,True,True,True,True,True,True,True
93,94,A,2025,7,3988.0,703.0,35.224386,8.467685,0,46.660827,84.511950,True,True,True,True,True,True,True
94,95,C,2025,7,11001.0,2211.0,96.021269,31.559265,10,41.315385,77.665382,True,True,True,True,True,True,True
95,96,D,2025,7,4262.0,871.0,40.402761,12.721970,0,31.767570,91.971152,True,True,True,True,True,True,True
96,97,A,2025,8,5730.0,1019.0,32.732726,15.936094,3,45.940361,79.128599,True,True,True,True,True,True,True
97,98,B,2025,8,5399.0,796.0,19.251810,16.284166,2,0.000000,79.646813,True,True,True,False,True,True,True
98,99,C,2025,8,4794.0,628.0,33.022157,15.704930,0,39.594074,107.392578,True,True,True,True,True,True,True
99,100,D,2025,8,10782.0,1438.0,76.488810,26.508374,2,52.907719,85.760593,True,True,True,True,True,True,True
100,101,B,2025,9,3343.0,1426.0,52.002541,25.383877,1,44.674738,74.192743,True,True,True,True,True,True,True
101,102,C,2025,9,3911.0,748.0,30.502597,14.431354,2,68.242565,0.000000,True,True,True,True,True,False,True
102,103,D,2025,9,10551.0,1973.0,80.296038,26.208867,2,24.691088,82.004634,True,True,True,True,True,True,True
103,104,A,2025,10,8739.0,1735.0,48.062495,19.240418,3,31.834229,75.217375,True,True,True,True,True,True,True
104,105,B,2025,10,5433.0,306.0,42.372294,13.070544,0,71.451944,0.000000,True,True,True,True,True,False,True
105,106,E,2025,10,11096.0,1945.0,73.361821,27.684376,2,66.632828,89.856965,True,True,True,True,True,True,True
106,107,B,2025,11,4928.0,711.0,29.962432,8.549540,2,87.019619,68.343352,True,True,True,True,True,True,True
107,108,C,2025,11,6455.0,300.0,48.186761,3.132956,0,43.517360,86.850941,True,True,True,True,True,True,True
108,109,D,2025,11,12307.0,2493.3,73.345230,20.318238,6,61.658099,82.870477,True,True,True,True,True,True,True
109,110,A,2025,12,4045.0,795.0,21.248477,16.467574,0,73.020707,87.348093,True,True,True,True,True,True,True
110,111,B,2025,12,6071.0,985.0,25.224821,1.456382,0,47.523901,79.263903,True,True,True,True,True,True,True
111,112,C,2025,12,8187.0,0.0,31.444984,12.817132,2,44.077311,87.252117,True,False,True,True,True,True,True
112,113,E,2025,12,12633.0,1972.0,48.609301,32.720641,2,59.868719,74.207906,True,True,True,True,True,True,True